.about{
    background: var(--fondo2);
}
.about__container{
    width: 90vw;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about__title{
    font-size: 1.5rem;
}
.about__paragraph{
    width: 60vw;
}
.about__firma{
    display: block;
    margin: auto;
}

@media (max-width: 900px) {
    .about__paragraph{
        width: 90vw;
    }    
}
@media (max-width: 768px) {
    .about__paragraph{
        font-size: .8rem;
    } 
    .about__container{
        padding-top: 30px;
    }   
}