.formcontacto {
    background: var(--fondo2);
    margin: 50px auto;
}
.formcontacto__contacto {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 70px 0 40px;
}
.formcontacto--esquerda{
    margin-right: 30px;
}
.formcontacto__subtext {
    font-size: 1rem;
}
.formcontacto__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64%;
}
.formcontacto__input{
    box-sizing: border-box;
    height: 40px;
    font-size: .8rem;
    width: 100%;
    border-radius: 7px;
    border-style: none;
    padding: 0 10px;
}
.formcontacto__boton{
    display: inline-block;
    margin: 0 auto;
    margin-left: 0;
    padding: 10px;
}
.formcontacto__input:focus {
  font-size: 1.1rem;
  transition: all 0.25s;
  outline: none;
}



.input__message-error {
  display: none;
}


.input__container--invalid .input__message-error {
  font-size: 0.8rem;
  color: red;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  
}







.center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: #79a1c9;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  