.formcontacto {
    background: var(--fondo2);
    margin: 50px auto 0;
}
.formcontacto__contacto {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 50px 0 40px;
}
.formcontacto--esquerda{
    margin-right: 30px;
    width: 50vw
}
.formcontacto__img{
  width: 90%;
}
.formcontacto__subtext {
    font-size: 1rem;
}
.formcontacto__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vw;
}
.formcontacto__input{
    box-sizing: border-box;
    height: 2.3rem;
    font-size: .8rem;
    width: 100%;
    border-radius: 7px;
    border-style: none;
    padding: 0 10px;
}
.formcontacto__boton{
    display: inline-block;
    margin: 0 auto;
    margin-left: 0;
    padding: 10px;
}
.formcontacto__input:focus {
  font-size: 1.1rem;
  transition: all 0.25s;
  outline: none;
}

.input__message-error {
  display: none;
}

.input__container--invalid .input__message-error {
  font-size: 0.8rem;
  color: red;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  
}


/* boton enviar */
.center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: #6297cc;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #2784e0;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  


  @media (max-width: 1150px) {

    .formcontacto--esquerda{
      display: none;
  }
  .formcontacto{
    height: 650px;
  }
  .formcontacto__form{
    height: 90%;
  }
}
@media (max-width: 760px) {   

  .formcontacto__contacto{
    padding-top: 30px;
  }

}
