.title {
    margin-top: 50px;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}
.title__bio{
    font-size: 3rem;
}
.title__network{
    display: flex;
    padding: 0;
}
.title__network__item{
    margin-right: 30px;
    padding: 5px;
    transition: .1s all;
}

.title__network__item:hover{
    outline: 1px solid purple;
    border-radius: 5px;
    background-color: var(--fondo2);
    box-shadow: 0 0 5px ;
}

.title__subsection{
    line-height: 1.3;
}

